@layoutUnit1: 8rem;
@layoutUnit2: 4rem;
@layoutUnit3: 2rem;
@layoutUnit4: 1rem;
@layoutUnit5: 0.5rem;

@layoutUnitStandard: @layoutUnit3;

@stretchUnitStandard: 2%;

.f1(){
    font-size: 2rem;
	line-height: 3rem;
}
.f2(){
    font-size: 1.5rem;
}
.f3(){
    font-size: 1rem;
	line-height: 1rem;
}
.f4(){
    font-size: 0.85rem;
	line-height: 3rem;
}